## Chapter 6
# 데이터 로딩, 저장, 파일 형식
---
## 텍스트 파일

In [3]:
%pylab inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [11]:
data = pd.read_csv('test.csv', encoding='ms949')

In [12]:
data.to_csv('test2.csv')

In [9]:
df = pd.read_csv('ch06_ex1.csv') # sep=','
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
a          3 non-null int64
b          3 non-null int64
c          3 non-null int64
d          3 non-null int64
message    3 non-null object
dtypes: int64(4), object(1)
memory usage: 148.0+ bytes

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
df = pd.read_csv('ch06_ex2.csv', header=None)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
0    3 non-null int64
1    3 non-null int64
2    3 non-null int64
3    3 non-null int64
4    3 non-null object
dtypes: int64(4), object(1)
memory usage: 148.0+ bytes

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [14]:
df = pd.read_csv('ch06_ex2.csv', header=None, names=['a','b','c','d','message'], index_col=0)
df

    a   b   c message
1   2   3   4   hello
5   6   7   8   world
9  10  11  12     foo

In [15]:
df = pd.read_csv('ch06_mindex.csv', index_col=[0,1])
df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [16]:
df = pd.read_csv('ch06_ex3.csv', sep='\s+')
df

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [19]:
df = pd.read_csv('ch06_ex4.csv', comment='#') # skiprows=[0,2]
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [30]:
# df = pd.read_csv('ch06_ex5.csv', na_values=['NA','NULL',-1],encoding='utf-8')
df = pd.read_csv('ch06_ex5.csv', na_values=['NA','NULL',-1])
df

   a     b   c     d message
0  1   2.0   3   NaN      안녕
1  5   NaN   7   8.0   world
2  9  10.0  11  12.0     foo

In [31]:
df = pd.read_csv('tips.csv', nrows=5)
df

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [51]:
chunker = pd.read_csv('tips.csv', chunksize=50)
df = None
for p in chunker:
    df = pd.concat([df,p])
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.4+ KB

In [53]:
import sys

df = pd.read_csv('tips.csv')
df[['total_bill','sex']].iloc[:10].to_csv(sys.stdout,sep='\t')

	total_bill	sex
0	16.99	Female
1	10.34	Male
2	21.01	Male
3	23.68	Male
4	24.59	Female
5	25.29	Male
6	8.77	Male
7	26.88	Male
8	15.04	Male
9	14.78	Male

In [56]:
df = pd.DataFrame(np.random.randn(10,3),index=pd.date_range('2018-1-1',periods=10))
df.iloc[0,0]=None
df.to_csv(sys.stdout,na_rep='NULL')

,0,1,2
2018-01-01,NULL,-1.2681058181367222,1.3976820687994387
2018-01-02,-0.3166923081054016,0.6590290067148747,-1.1078449354630016
2018-01-03,0.8127491779113972,-0.7687548279647066,0.6421587883823445
2018-01-04,-2.4525302688547104,0.15627899276748153,-1.4466402268116734
2018-01-05,1.1840990723849176,-1.2636686102335175,0.8853571244301437
2018-01-06,0.7106979706590577,0.8544166462812822,-0.26434228881596783
2018-01-07,-2.548017740255316,0.456360039790159,1.0065667017975246
2018-01-08,0.6778540150430952,0.5755838076264297,-0.0122474189698583
2018-01-09,0.8691631918233064,1.048515699722629,-0.12482945485212249
2018-01-10,-0.4946954563689332,1.2103901981741734,1.159612656242745

In [78]:
df = pd.read_csv('ch06_ex6.csv')
df2=df.applymap(lambda s: int(s.strip("'")))
df2.columns = [s.strip("'") for s in df2.columns]
df2

   a  b  c
0  1  2  3
1  4  5  6

In [84]:
obj = """
    {"name": "Wes",
    "places_lived": ["United States", "Spain", "Germany"],
    "pet": null,
    "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
    {"name": "Katie", "age": 33, "pet": "Cisco"}]
    }
"""
import json

result = json.loads(obj)
display(type(result),result)
siblings = pd.DataFrame(result['siblings'])
siblings

dict

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

   age   name    pet
0   25  Scott   Zuko
1   33  Katie  Cisco

In [85]:
# pd.read_json
# 2.1장 예제 참조

In [90]:
df = pd.read_csv('ch06_ex1.csv')
df.to_pickle('ch06_ex1.pickle') # df.*pickle*?
df2 = pd.read_pickle('ch06_ex1.pickle') # pd.*pickle*?
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [96]:
import requests

url = 'https://github.com/wesm/pydata-book/raw/1st-edition/ch06/example.json'
resp = requests.get(url)

In [98]:
data = resp.json()
pd.DataFrame(data)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9