## Chapter 10
# Time Series
---
## Time Series Basics

In [2]:
%pylab inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [2]:
from datetime import datetime, timedelta

- pd.to_datetime()
- pd.date_range()

In [14]:
t = pd.to_datetime(['2018/11/16'])
# t = pd.to_datetime(0)
t

DatetimeIndex(['2018-11-16'], dtype='datetime64[ns]', freq=None)

In [12]:
di = pd.to_datetime(['2018-9-26','2000-1-1',1,None]) # DatetimeIndex
display(di, di[0])

DatetimeIndex([          '2018-09-26 00:00:00',
                         '2000-01-01 00:00:00',
               '1970-01-01 00:00:00.000000001',
                                         'NaT'],
              dtype='datetime64[ns]', freq=None)

Timestamp('2018-09-26 00:00:00')

In [3]:
ts = pd.Series([1,2,3],index=pd.to_datetime(['2018-1-1','2018-2-1','2018-3-1']))
display(ts.index, type(ts))
ts['2/1/2018'], ts['20180301']
ts

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq=None)

pandas.core.series.Series

2018-01-01    1
2018-02-01    2
2018-03-01    3
dtype: int64

In [5]:
df = pd.DataFrame({'date': pd.to_datetime(['1/1/2018','1/2/2018','1/3/2018']), 'v': [1,2,3]})
df.date

0   2018-01-01
1   2018-01-02
2   2018-01-03
Name: date, dtype: datetime64[ns]

In [6]:
t = pd.date_range('2018-1-1',periods=100,freq='D')
# 교재 408쪽 표 참조
display(t[:5])

df = pd.DataFrame(np.arange(100),index=t)
df['2018-3']
# df['2018-3-1':'2018-3-5']
# df['2018-3-1'] # Error!

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05'],
              dtype='datetime64[ns]', freq='D')

             0
2018-03-01  59
2018-03-02  60
2018-03-03  61
2018-03-04  62
2018-03-05  63
2018-03-06  64
2018-03-07  65
2018-03-08  66
2018-03-09  67
2018-03-10  68
2018-03-11  69
2018-03-12  70
2018-03-13  71
2018-03-14  72
2018-03-15  73
2018-03-16  74
2018-03-17  75
2018-03-18  76
2018-03-19  77
2018-03-20  78
2018-03-21  79
2018-03-22  80
2018-03-23  81
2018-03-24  82
2018-03-25  83
2018-03-26  84
2018-03-27  85
2018-03-28  86
2018-03-29  87
2018-03-30  88
2018-03-31  89

In [21]:
df['2018-3']

             0
2018-03-01  59
2018-03-02  60
2018-03-03  61
2018-03-04  62
2018-03-05  63
2018-03-06  64
2018-03-07  65
2018-03-08  66
2018-03-09  67
2018-03-10  68
2018-03-11  69
2018-03-12  70
2018-03-13  71
2018-03-14  72
2018-03-15  73
2018-03-16  74
2018-03-17  75
2018-03-18  76
2018-03-19  77
2018-03-20  78
2018-03-21  79
2018-03-22  80
2018-03-23  81
2018-03-24  82
2018-03-25  83
2018-03-26  84
2018-03-27  85
2018-03-28  86
2018-03-29  87
2018-03-30  88
2018-03-31  89

In [22]:
dates = pd.date_range('2018-1-1',end='2018-12-31',freq='W-SUN')
ts = pd.DataFrame(np.arange(len(dates)), index=dates)
ts['2018-11']

             0
2018-11-04  43
2018-11-11  44
2018-11-18  45
2018-11-25  46