## Chapter 10
# Time Series
---
## Date and Time Data Types and Tools

In [1]:
%pylab inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [2]:
from datetime import datetime, timedelta

In [4]:
dt = datetime.now()
dt

datetime.datetime(2018, 11, 16, 17, 13, 43, 357224)

In [5]:
print(dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond)

2018 11 16 17 13 43 357224

In [6]:
dt = datetime(2018,9,26,1,1,1,1)
display(dt)

datetime.datetime(2018, 9, 26, 1, 1, 1, 1)

In [7]:
now = datetime.now()
delta = now - datetime(2000,1,1)
display(delta)
print(delta, delta.days, delta.seconds, delta.microseconds)
print(now, now+timedelta(0,60))

datetime.timedelta(6894, 62134, 505582)

6894 days, 17:15:34.505582 6894 62134 505582
2018-11-16 17:15:34.505582 2018-11-16 17:16:34.505582

In [15]:
stamp = datetime(1969,2,24,23,11,22,33)
datetime.strftime(stamp,'%Y-%m-%d %H:%M:%S, %A(%a,%w), %B(%b)')
# 교재 397쪽 참조

'1969-02-24 23:11:22, Monday(Mon,1), February(Feb)'

In [16]:
datetime.strptime('2018 11 16','%Y %m %d')

datetime.datetime(2018, 11, 16, 0, 0)