## Chapter 10
# Time Series
---
## Time Zone Handling

In [6]:
%pylab inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

- 국제표준이며 그리니치 표준시를 계승하는 국제표준시 혹은 **UTC**
- 시간대는 UTC로부터 떨어진 오프셋으로 표현
- 각 나라별로 오프셋과 서머타임이 역사적으로 여러번 변경되어 복잡함

In [2]:
import pytz

for tz in pytz.common_timezones:
    if 'seoul' in tz.lower(): print(tz)
        
tz = pytz.timezone('Asia/Seoul')
tz

Asia/Seoul

In [15]:
pytz.common_timezones[-10:]

['Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [27]:
d = pd.date_range('2018-1-1','2018-1-10',freq='D') # tz=None is default
display(d)
print(d.tz, d[0].value)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

None 1514764800000000000

In [23]:
d2 = d.tz_localize('Asia/Seoul') # 'UTC', 'US/Eastern'
display(d2)
d2.tz_convert('UTC')

DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
               '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
               '2018-01-05 00:00:00+09:00', '2018-01-06 00:00:00+09:00',
               '2018-01-07 00:00:00+09:00', '2018-01-08 00:00:00+09:00',
               '2018-01-09 00:00:00+09:00', '2018-01-10 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='D')

DatetimeIndex(['2017-12-31 15:00:00+00:00', '2018-01-01 15:00:00+00:00',
               '2018-01-02 15:00:00+00:00', '2018-01-03 15:00:00+00:00',
               '2018-01-04 15:00:00+00:00', '2018-01-05 15:00:00+00:00',
               '2018-01-06 15:00:00+00:00', '2018-01-07 15:00:00+00:00',
               '2018-01-08 15:00:00+00:00', '2018-01-09 15:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [25]:
ts = pd.DataFrame(np.random.randint(10,size=[10,3]), index=d, columns=list('abc'))
ts_us = ts.tz_localize('US/Eastern')
ts_seoul = ts_us.tz_convert('Asia/Seoul')
ts_seoul

                           a  b  c
2018-01-01 14:00:00+09:00  6  6  6
2018-01-02 14:00:00+09:00  2  9  8
2018-01-03 14:00:00+09:00  7  0  6
2018-01-04 14:00:00+09:00  7  5  2
2018-01-05 14:00:00+09:00  3  1  0
2018-01-06 14:00:00+09:00  2  5  5
2018-01-07 14:00:00+09:00  3  3  8
2018-01-08 14:00:00+09:00  2  2  4
2018-01-09 14:00:00+09:00  1  6  0
2018-01-10 14:00:00+09:00  4  0  7

In [31]:
stamp = pd.Timestamp('2018-1-1', tz='Asia/Seoul')
print(stamp, stamp.value)

stamp = pd.Timestamp('2018-1-1', tz='UTC')
print(stamp, stamp.value)

2018-01-01 00:00:00+09:00 1514732400000000000
2018-01-01 00:00:00+00:00 1514764800000000000

## UTC time
- nano seconds (10^9)
- since the UNIX epoch (January 1, 1970)

In [37]:
d = pd.to_datetime([1514732400000000000, 1514764800000000000,0,1])
display(d,d[0],d[1])

DatetimeIndex([          '2017-12-31 15:00:00',
                         '2018-01-01 00:00:00',
                         '1970-01-01 00:00:00',
               '1970-01-01 00:00:00.000000001'],
              dtype='datetime64[ns]', freq=None)

Timestamp('2017-12-31 15:00:00')

Timestamp('2018-01-01 00:00:00')

In [1]:
import time

time.time() # seconds since the Epoch

1542358012.148977

In [2]:
display(time.gmtime(), time.localtime())

time.struct_time(tm_year=2018, tm_mon=11, tm_mday=16, tm_hour=8, tm_min=46, tm_sec=54, tm_wday=4, tm_yday=320, tm_isdst=0)

time.struct_time(tm_year=2018, tm_mon=11, tm_mday=16, tm_hour=17, tm_min=46, tm_sec=54, tm_wday=4, tm_yday=320, tm_isdst=0)