## Chapter 10
# Time Series
---
## Date Ranges, Frequencies, and Shifting

In [1]:
%pylab inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [2]:
ts = pd.DataFrame(np.random.randn(6), index=pd.date_range('2018-09-01', periods=6, freq='2D'))
display(ts)

                   0
2018-09-01 -0.727788
2018-09-03 -1.506424
2018-09-05 -0.322027
2018-09-07  0.440423
2018-09-09  1.504690
2018-09-11 -0.441089

In [12]:
ts.resample('D').asfreq()

                   0
2018-09-01 -1.384314
2018-09-02       NaN
2018-09-03 -1.254035
2018-09-04       NaN
2018-09-05 -0.059417
2018-09-06       NaN
2018-09-07 -1.134123
2018-09-08       NaN
2018-09-09  0.617198
2018-09-10       NaN
2018-09-11 -0.276924

In [13]:
pd.date_range('2018-01-01','2018-12-31',freq='BM') # business end of month

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-30', '2018-04-30',
               '2018-05-31', '2018-06-29', '2018-07-31', '2018-08-31',
               '2018-09-28', '2018-10-31', '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [14]:
pd.date_range('2018-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:30:00',
               '2018-01-01 03:00:00', '2018-01-01 04:30:00',
               '2018-01-01 06:00:00', '2018-01-01 07:30:00',
               '2018-01-01 09:00:00', '2018-01-01 10:30:00',
               '2018-01-01 12:00:00', '2018-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

<img src='ts_freq.jpg'/><br>
300 page

In [15]:
pd.date_range('2018-1-1','2018-12-31',freq='WOM-4SUN')

DatetimeIndex(['2018-01-28', '2018-02-25', '2018-03-25', '2018-04-22',
               '2018-05-27', '2018-06-24', '2018-07-22', '2018-08-26',
               '2018-09-23', '2018-10-28', '2018-11-25', '2018-12-23'],
              dtype='datetime64[ns]', freq='WOM-4SUN')

In [16]:
pd.date_range('2018-1-1','2018-12-31',freq='WOM-4SUN').shift(2)

DatetimeIndex(['2018-03-25', '2018-04-22', '2018-05-27', '2018-06-24',
               '2018-07-22', '2018-08-26', '2018-09-23', '2018-10-28',
               '2018-11-25', '2018-12-23', '2019-01-27', '2019-02-24'],
              dtype='datetime64[ns]', freq='WOM-4SUN')

In [6]:
d = pd.date_range('2018-01-01','2018-12-31',freq='MS')
ts = pd.DataFrame(np.arange(12)+1, index=d)
display(ts)

             0
2018-01-01   1
2018-02-01   2
2018-03-01   3
2018-04-01   4
2018-05-01   5
2018-06-01   6
2018-07-01   7
2018-08-01   8
2018-09-01   9
2018-10-01  10
2018-11-01  11
2018-12-01  12

In [8]:
ts.shift(1)

               0
2018-01-01   NaN
2018-02-01   1.0
2018-03-01   2.0
2018-04-01   3.0
2018-05-01   4.0
2018-06-01   5.0
2018-07-01   6.0
2018-08-01   7.0
2018-09-01   8.0
2018-10-01   9.0
2018-11-01  10.0
2018-12-01  11.0

In [21]:
ts / ts.shift(1) -1 # 전달과 비교한 증감율

                   0
2018-01-01       NaN
2018-02-01  1.000000
2018-03-01  0.500000
2018-04-01  0.333333
2018-05-01  0.250000
2018-06-01  0.200000
2018-07-01  0.166667
2018-08-01  0.142857
2018-09-01  0.125000
2018-10-01  0.111111
2018-11-01  0.100000
2018-12-01  0.090909

In [24]:
ts.shift(2,freq='D')

             0
2018-01-03   1
2018-02-03   2
2018-03-03   3
2018-04-03   4
2018-05-03   5
2018-06-03   6
2018-07-03   7
2018-08-03   8
2018-09-03   9
2018-10-03  10
2018-11-03  11
2018-12-03  12